* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(20, 20, 20);
      box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
}
.input{
  display: flex;
  justify-content: flex-end;
}
input{
  background-color:white;
  margin-right: 50px;
  height: 40px;
  border-radius: 15px;
}
#showMore{
  background-color:white;
}
h1{
  color: red;
  font-size: 50px;
}
// home page------------------------------

.grid {
  display: grid;
  grid-template-columns: repeat(3, 550px);
  grid-gap: 50px;
  justify-content: center;

  padding: 10px;
  margin: 0 auto;
}
.grid-item {
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 500px;

}
.thumbnail-home {
  width: auto;
  height: auto;
  max-width: 100%;

}
.nameHome {
  color:white;
}
.platformHome {
  color:white;
}

// detail page--------------------------------
.imgDetail{
   width: 100%;
  height: 900px;


}
.nameRatioDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;

}

.nameDetail {
  color:white;
  font-size: 50px;
margin-right: 350px;
}
.ratioDetail {
  color: rgb(179, 23, 23);
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.gameDescription{
  color:white;
  margin-left: 30px;
  margin-right: 40px;
}
.desciptionDetailGame{
  margin-bottom: 5px;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 35px;
  margin-right: 40px;
}

.releasedDetail {
  color:white;
}


.editorDetail {

  color:white;
}
.editorDetailName {
  display: flex;
  align-items: flex-end;
}
.platFormDetail {
  
  color:white;
}
.studioDetail {
 
  color:white;
}

.genreTagDetail {
  display: flex;
  justify-content: space-between;

}

.genreDetail {

  color:white;
  margin-top: 20px;
  margin-left: 33px;
}
.genreDetailName {
  display: flex;
  align-items: flex-end;
}
.tagsDetail {
 
  color:white;
  margin-top: 20px;
  margin-right: 670px;

}
.tagsDetailName {
  display: flex;
  align-items: flex-end;
}
.webSite {
  margin-top: 50px;
  color:white;
  margin-left: 35px ;
}

.noteNumber {
  color:white;
  margin-top: 50px;
  margin-left: 35px;
}

.movie {
  display: flex;
  justify-content: center;
}

.globalScreen {
    margin-left: 80px;
}
.screen {
  display: contents;
  justify-content: space-between;

}
#lp{
  height: 50px;
  width: 80px;
  color: brown;
}